parameters:
    netgen.ezforms.form.fieldtype_handler.ezimage.class: Netgen\Bundle\EzFormsBundle\Form\FieldTypeHandler\Image
    netgen.ezforms.form.fieldtype_handler.ezstring.class: Netgen\Bundle\EzFormsBundle\Form\FieldTypeHandler\TextLine
    netgen.ezforms.form.fieldtype_handler.eztext.class: Netgen\Bundle\EzFormsBundle\Form\FieldTypeHandler\TextBlock
    netgen.ezforms.form.fieldtype_handler.ezuser.class: Netgen\Bundle\EzFormsBundle\Form\FieldTypeHandler\User

services:
    netgen.ezforms.form.fieldtype_handler.ezimage:
        class: %netgen.ezforms.form.fieldtype_handler.ezimage.class%
        tags:
            - {name: netgen.ezforms.form.fieldtype_handler, alias: ezimage}

    netgen.ezforms.form.fieldtype_handler.ezstring:
        class: %netgen.ezforms.form.fieldtype_handler.ezstring.class%
        tags:
            - {name: netgen.ezforms.form.fieldtype_handler, alias: ezstring}

    netgen.ezforms.form.fieldtype_handler.eztext:
        class: %netgen.ezforms.form.fieldtype_handler.eztext.class%
        tags:
            - {name: netgen.ezforms.form.fieldtype_handler, alias: eztext}

    netgen.ezforms.form.fieldtype_handler.ezuser:
        class: %netgen.ezforms.form.fieldtype_handler.ezuser.class%
        tags:
            - {name: netgen.ezforms.form.fieldtype_handler, alias: ezuser}
