<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         colors="true"
         verbose="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Netgen\EzFormsBundle\Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">bundle</directory>
            <exclude>
                <directory>bundle/Controller</directory>
                <directory>bundle/DependencyInjection</directory>
                <directory>bundle/Resources</directory>
                <file>bundle/NetgenEzFormsBundle.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
