services:
    netgen.ezforms.form.fieldtype_handler.ezimage:
        class: Netgen\Bundle\EzFormsBundle\Form\FieldTypeHandler\Image
        public: false
        tags:
            - { name: netgen.ezforms.form.fieldtype_handler, alias: ezimage }

    netgen.ezforms.form.fieldtype_handler.ezstring:
        class: Netgen\Bundle\EzFormsBundle\Form\FieldTypeHandler\TextLine
        public: false
        tags:
            - { name: netgen.ezforms.form.fieldtype_handler, alias: ezstring }

    netgen.ezforms.form.fieldtype_handler.eztext:
        class: Netgen\Bundle\EzFormsBundle\Form\FieldTypeHandler\TextBlock
        public: false
        tags:
            - { name: netgen.ezforms.form.fieldtype_handler, alias: eztext }

    netgen.ezforms.form.fieldtype_handler.ezuser:
        class: Netgen\Bundle\EzFormsBundle\Form\FieldTypeHandler\User
        public: false
        tags:
            - { name: netgen.ezforms.form.fieldtype_handler, alias: ezuser }

    netgen.ezforms.form.fieldtype_handler.ezemail:
        class: Netgen\Bundle\EzFormsBundle\Form\FieldTypeHandler\Email
        public: false
        tags:
            - { name: netgen.ezforms.form.fieldtype_handler, alias: ezemail }

    netgen.ezforms.form.fieldtype_handler.ezselection:
        class: Netgen\Bundle\EzFormsBundle\Form\FieldTypeHandler\Selection
        public: false
        tags:
            - { name: netgen.ezforms.form.fieldtype_handler, alias: ezselection }

    netgen.ezforms.form.fieldtype_handler.ezboolean:
        class: Netgen\Bundle\EzFormsBundle\Form\FieldTypeHandler\Checkbox
        public: false
        arguments: [ "@ezpublish.field_helper" ]
        tags:
            - { name: netgen.ezforms.form.fieldtype_handler, alias: ezboolean }

    netgen.ezforms.form.fieldtype_handler.ezdate:
        class: Netgen\Bundle\EzFormsBundle\Form\FieldTypeHandler\Date
        public: false
        tags:
            - { name: netgen.ezforms.form.fieldtype_handler, alias: ezdate }

    netgen.ezforms.form.fieldtype_handler.ezdatetime:
        class: Netgen\Bundle\EzFormsBundle\Form\FieldTypeHandler\DateAndTime
        public: false
        tags:
            - { name: netgen.ezforms.form.fieldtype_handler, alias: ezdatetime }

    netgen.ezforms.form.fieldtype_handler.ezinteger:
        class: Netgen\Bundle\EzFormsBundle\Form\FieldTypeHandler\IntegerHandler
        public: false
        arguments: [ "@ezpublish.field_helper" ]
        tags:
            - {name: netgen.ezforms.form.fieldtype_handler, alias: ezinteger}

    netgen.ezforms.form.fieldtype_handler.ezfloat:
        class: Netgen\Bundle\EzFormsBundle\Form\FieldTypeHandler\FloatHandler
        public: false
        arguments: [ "@ezpublish.field_helper" ]
        tags:
            - { name: netgen.ezforms.form.fieldtype_handler, alias: ezfloat }

    netgen.ezforms.form.fieldtype_handler.ezurl:
        class: Netgen\Bundle\EzFormsBundle\Form\FieldTypeHandler\Url
        public: false
        tags:
            - { name: netgen.ezforms.form.fieldtype_handler, alias: ezurl }

    netgen.ezforms.form.fieldtype_handler.ezcountry:
        class: Netgen\Bundle\EzFormsBundle\Form\FieldTypeHandler\Country
        public: false
        arguments:
            - "%ezpublish.fieldType.ezcountry.data%"
        tags:
            - { name: netgen.ezforms.form.fieldtype_handler, alias: ezcountry }

    netgen.ezforms.form.fieldtype_handler.eztime:
        class: Netgen\Bundle\EzFormsBundle\Form\FieldTypeHandler\Time
        public: false
        tags:
            - { name: netgen.ezforms.form.fieldtype_handler, alias: eztime }

    netgen.ezforms.form.fieldtype_handler.ezisbn:
        class: Netgen\Bundle\EzFormsBundle\Form\FieldTypeHandler\Isbn
        public: false
        tags:
            - { name: netgen.ezforms.form.fieldtype_handler, alias: ezisbn }

    netgen.ezforms.form.fieldtype_handler.ezbinaryfile:
        class: Netgen\Bundle\EzFormsBundle\Form\FieldTypeHandler\BinaryFile
        public: false
        tags:
            - { name: netgen.ezforms.form.fieldtype_handler, alias: ezbinaryfile }

    netgen.ezforms.form.fieldtype_handler.ezgmaplocation:
        class: Netgen\Bundle\EzFormsBundle\Form\FieldTypeHandler\MapLocation
        public: false
        tags:
            - { name: netgen.ezforms.form.fieldtype_handler, alias: ezgmaplocation }

    netgen.ezforms.form.fieldtype_handler.ezobjectrelation:
        class: Netgen\Bundle\EzFormsBundle\Form\FieldTypeHandler\Relation
        public: false
        arguments:
          - "@ezpublish.api.repository"
          - "@ezpublish.translation_helper"
        tags:
            - { name: netgen.ezforms.form.fieldtype_handler, alias: ezobjectrelation }
            
    netgen.ezforms.form.fieldtype_handler.ezobjectrelationlist:
        class: Netgen\Bundle\EzFormsBundle\Form\FieldTypeHandler\RelationList
        arguments:
          - "@ezpublish.api.repository"
          - "@ezpublish.translation_helper"
        tags:
            - { name: netgen.ezforms.form.fieldtype_handler, alias: ezobjectrelationlist }            
